@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat';
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.item {
  background: #bbb;
  box-shadow: 0 0 5px #bbb;
  margin: 2px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-of-type(5) {
  justify-self: start;
  align-self: start;
}

.item:nth-of-type(8) {
  justify-self: end;
  align-self: end;
}

/* .item:nth-of-type(1) { */
  /* background-color: antiquewhite; */
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* grid-column: 1 / -1; */
/* } */
/* .item:nth-of-type(8) { */
  /* background-color: brown; */
  /* grid-column: 1 / -1; */
/* } */
/* .item:nth-of-type(7) { */
  /* background-color: cadetblue; */
  /* grid-column: 2 / span 2; */
/* } */